* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;  */
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    animation-direction: alternate;
}
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 30px;
    background-color: #f8f8f8; 
    direction: rtl; 
    background-color: #3f3f3f04;
    position:sticky;
    top:0;
    z-index:1000;
    backdrop-filter: blur(10px);      
    -webkit-backdrop-filter: blur(10px); 
}

.logo {
    flex-grow: 0; 
}
.logo img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%; 
    cursor: pointer;
}
.nav {
    margin-inline-start: auto; 
    margin-inline-end: auto;   
    flex-grow: 0;
}
.nav ul {
    display: inline-flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}



.cart-icon {
    flex-grow: 0;

}


.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;  
}


.cart-icon i {
    margin-right: 6px; 
        text-decoration: none;
    list-style: none;
}

.content {
    margin: 0; 
    font-family: 'Amatic SC', cursive;
    background-image: url(https://img.freepik.com/free-photo/photo-wood-texture-pattern_58702-15569.jpg?ga=GA1.1.1986211273.1764525652&semt=ais_hybrid&w=740&q=80);
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;  
    height: 600px; 
    padding-top: 100px;
}

.content h1, .content p {
    font-size: 60px;
    color: #ffffff;
    margin: 0 0 30px 0; 
    opacity: 1;
    text-align: center;
    justify-content: center;
   font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.container {
    margin-top: 7%;
    display: grid;
   grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0 60px;
    justify-items: center; 
    align-items: center;
    margin-bottom: 20px;
}
.cart {
   /* background: linear-gradient(135deg, #f9f9f9, #aeaaa8); */

    border: 2px solid #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 550px;
    height: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.cart:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.cart h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
   font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.cart p {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
       font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.cart button {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}
.cart button:hover {
    background-color: #17a00e;
    color: #ffffff;
    border: #ddd;
}
.cart img {
display: block;
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 10px;

}
/* .option {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: "Amatic SC", cursive;
} */
.option h1 {
    font-size: 50px;
    color: #000000;
    font-family: "Amatic SC", cursive;
}
.option i {
    color: #ff5733;
    margin-right: 10px;
}
.option {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: "Amatic SC", cursive;
    border-radius: 20px;
    background: linear-gradient(180deg,rgb(49, 17, 7) ,rgb(190, 6, 6));
    border: #000000 solid 2px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;


}

.option-1 h1 {
    font-size: 50px;
    color: #fadede;
    font-family: "Amatic SC", cursive;
   
}
.option-1 i {
    color: #ff5733;
    margin-right: 10px;
}
.option-1 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: "Amatic SC", cursive;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border: #000000 solid 2px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;


}
.option {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: "Amatic SC", cursive;
    border-radius: 20px;
    background: linear-gradient(180deg,rgb(49, 17, 7) ,rgb(190, 6, 6));
    border: #000000 solid 2px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;


}

.option-2 h1 {
    font-size: 50px;
    color: #000000;
    font-family: "Amatic SC", cursive;
   
}

.option-2 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: "Amatic SC", cursive;
    border-radius: 20px;
    background: linear-gradient(90deg, #66ff00, #ffeb0ab1);
    border: #000000 solid 2px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;


}
.cart-icon {
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    font-size: 12px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none; /* يظهر فقط لو فيه منتجات */
}

